[master]
%{ for a, b in zipmap(host_master, addr_master) ~}
${a} ansible_host=${b} ansible_user=${user}
%{ endfor ~}

[worker]
%{ for a, b in zipmap(host_worker, addr_worker) ~}
${a} ansible_host=${b} ansible_user=${user}
%{ endfor ~}